VITE_APPWRITE_URL = "https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "66b786340038ff730fc1"
VITE_APPWRITE_DATABASE_ID = "66b8166900092d34d500"
VITE_APPWRITE_COLLECTION_ID = "66b8169f001a3f1af3e8"
VITE_APPWRITE_BUCKET_ID = "66b818a40003bcadad15"
